# pycache datafile
__pycache__
# vscode specifications
.vscode
# trained model (for now)
models/*
# pip installs
*.egg-info
# logs
logs/*
# zip files coming from stablebaseline
*.zip
# except gitkeep to keep the architecture
!.gitkeep