# pycache datafile
__pycache__
# vscode specifications
.vscode
# trained model (for now)
models/*
# the saved simulations in data
datas/*
simulations/*
# pip installs
*.egg-info
# logs
logs/*
# zip files coming from stablebaseline
*.zip
# remove the file draft.py from the git archive
**/draft.py
**/solution.npy
# except gitkeep to keep the architecture
!.gitkeep